# College Basketball Code
## Dan McDonough
## February 25th, 2021

The purpose of this notebook is to compile four factors stats for D1 NCAAM teams ahead of march madness. My goal is to write functionality that gives a very condensed, stylistic game preview to digest ahead of watching the game.

In [1]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
import random
import timeit
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
import scipy as sp

In [2]:
combined_df = pd.read_csv('college.csv')

combined_df['FTR'] = combined_df['FTR'] * 100
combined_df['EFG'] = combined_df['EFG'] * 100
combined_df['Opp FTR'] = combined_df['Opp FTR'] * 100
combined_df['Opp EFG'] = combined_df['Opp EFG'] * 100

### 2. Write Summary Function

In [3]:
def game_summary(away,home):
    away_df = combined_df[combined_df['Team']==away]
    home_df = combined_df[combined_df['Team']==home]
    home_df_adj = home_df[['Team', 'SRS', 'SOS', 'Pace','DEF', 'Opp FTR', 'Opp EFG', 'Opp TOV', 'Opp ORB', 'OFF', 'FTR', 
                           'EFG', 'TOV', 'ORB']].copy()
    away_df.columns = ['Team', 'SRS', 'SOS', 'Pace','Away Rtg', 'Away FTR', 'Away EFG', 'Away TOV', 'Away ORB',
                       'Home Rtg', 'Home FTR', 'Home EFG', 'Home TOV', 'Home ORB']
    home_df_adj.columns = ['Team', 'SRS', 'SOS', 'Pace','Away Rtg', 'Away FTR', 'Away EFG', 'Away TOV', 'Away ORB',
                       'Home Rtg', 'Home FTR', 'Home EFG', 'Home TOV', 'Home ORB']
    output_df = pd.concat([away_df,home_df_adj],axis=0)
    means_df = pd.DataFrame(output_df.mean()).transpose()
    output_df = pd.concat([output_df,means_df],sort=False).reset_index(drop=True)
    output_df.loc[2,'Team']='Average'
    for column in output_df.columns[1:]:
        output_df[column] = output_df[column].astype(int)
    return output_df[['Team', 'SRS', 'SOS', 'Pace','Away Rtg', 'Away EFG', 'Away TOV', 'Away ORB', 'Away FTR',
                       'Home Rtg', 'Home EFG', 'Home TOV', 'Home ORB','Home FTR']]

Saturday

In [5]:
game_summary('North Carolina','Baylor')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,North Carolina,14,7,70,110,52,14,30,29,100,49,12,21,21
1,Baylor,22,8,68,92,47,20,28,26,112,53,15,36,28
2,Average,18,8,69,101,49,17,29,28,106,51,14,28,24

Pregame: Lean Baylor -5.5

Away: Shooting, Turnovers

Home: Rebounding, Free Throws

In [6]:
69*1.01+69*1.06

142.82999999999998

Under 149

In [7]:
game_summary('Creighton','Kansas')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Creighton,11,8,68,100,50,18,28,26,95,44,13,28,20
1,Kansas,21,10,69,96,46,16,28,27,111,54,15,33,32
2,Average,16,9,68,98,48,17,28,27,103,49,14,30,26

Pregame: Pass at -11.5

Away: Consider team total

Home: Shooting, Rebounding, Free Throws

In [8]:
68*0.98+68*1.03

136.68

Under 139.5

In [9]:
68*0.98

66.64

Creighton over 63.5

In [10]:
game_summary('Tennessee','Michigan')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Tennessee,21,9,68,106,50,15,32,29,90,46,20,27,31
1,Michigan,14,10,67,103,50,13,23,26,108,52,15,31,29
2,Average,17,10,68,104,50,14,28,27,99,49,17,29,30

Pregame: Pass at -6

Away: Rebounding

Home: Shooting, Turnovers

In [11]:
68*1.04+68*0.99

138.04

In [12]:
game_summary('Richmond','Providence')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Richmond,7,4,67,105,51,13,22,30,100,50,16,27,23
1,Providence,12,7,66,99,46,13,27,25,106,50,14,30,37
2,Average,10,5,66,102,49,13,25,28,103,50,15,28,30

Pregame: Lean Providence at -3

Away: Shooting, Free Throws

Home: Free Throws

In [13]:
66*1.02+66*1.03

135.3

In [14]:
game_summary("UCLA","Saint Mary's (CA)")

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,UCLA,19,8,66,111,50,11,31,29,94,47,17,24,28
1,Saint Mary's (CA),15,6,65,91,47,17,22,24,106,52,15,27,24
2,Average,17,7,66,101,48,14,27,27,100,50,16,26,26

Pregame: Pass at +2.5

Away: Turnovers, Rebounding, Free Throws

Home: Shooting

In [15]:
66*1.01+66*1.00

132.66

Over 126

In [16]:
game_summary("Murray State","Saint Peter's")

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Murray State,10,-3,68,116,54,14,35,32,91,47,18,24,25
1,Saint Peter's,1,-2,66,92,43,18,28,41,100,48,17,31,37
2,Average,6,-2,67,104,49,16,31,36,95,48,17,28,31

Pregame: Pass at +8.5

Away: Shooting, Rebounding, Free Throws

Home: Rebounding, Free Throws

In [17]:
67*1.04+67*0.95

133.33

Over 130

In [19]:
game_summary('Arkansas','New Mexico State')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Arkansas,16,8,71,106,49,14,30,38,94,47,18,25,32
1,New Mexico State,7,1,68,94,45,15,25,27,106,52,17,33,34
2,Average,11,4,70,100,47,15,28,32,100,50,17,29,33

Pregame: Lean Arksansas -6.5

Away: Rebounding, Free Throws

Home: Shooting, Rebounding

In [20]:
70*1.00+70*1.00

140.0

In [21]:
game_summary('Memphis','Gonzaga')

,Team,SRS,SOS,Pace,Away Rtg,Away EFG,Away TOV,Away ORB,Away FTR,Home Rtg,Home EFG,Home TOV,Home ORB,Home FTR
0,Memphis,14,7,71,105,52,19,37,38,95,46,17,31,32
1,Gonzaga,26,4,73,88,42,14,23,22,119,59,13,29,30
2,Average,20,5,72,97,47,17,30,30,107,52,15,30,31

Pregame: Pass at 10.5

Away: Turnovers, Rebounding, Free Throws

Home: Shooting

In [22]:
72*0.97+72*1.07

146.88

Under 154